---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.</div>
{% endif %}

{% assign sorted_publications = site.publications | sort: "year" | reverse %}
{% for publication in sorted_publications %}
<div class="list__item">
  <article class="archive__item">
    <h2 class="archive__item-title">{{ publication.title }}</h2>
    <p>{{ publication.authors }}</p>
    <p>Published in <i>{{ publication.venue }}</i>, {{ publication.year }}{% if publication.first_author %} · First author{% endif %}</p>
  </article>
</div>
{% endfor %}
